<!DOCTYPE html>
<html>
  <head>
    <title>Shareapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', href: '//fonts.googleapis.com/css?family=Raleway:400,300,600,700' %>
    <%= stylesheet_link_tag 'application', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if notice %>
      <div id="notification-wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="notification-wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <header>
      <div id="logo">
        <h1><%= link_to "Share Ideas", root_path %></h1>
      </div>

      <nav>
        <% if user_signed_in? %>
          <span>Welcome <%= current_user.name %></span>
          <%= link_to "All Ideas", ideas_path %>
          <%= link_to "New Idea", new_idea_path %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
    
  </body>
</html>